<!DOCTYPE html>
<html>

<head>

  <%= render 'layouts/header_meta' %>

  <title>MoneyTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/custom_fonts' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="wrapper">
    <%= render 'layouts/sidenav' %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%= render 'layouts/topnav' %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>