<!DOCTYPE html>
<html>

<head>
  <%= favicon_link_tag %>
  <%= render 'layouts/header_meta' %>

  <title>Piggy Savings</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/custom_fonts' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if user_signed_in? %>
    <div class="wrapper">
      <%= render 'layouts/sidenav' %>
      <div class="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%= render 'layouts/topnav' %>
          <%= yield %>
        </div>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>

</html>